/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
.gform_validation_container {
  display: none;
}

#gform_wrapper_3 form#gform_3,
#gform_wrapper_2 form#gform_3 {
  align-items: flex-end;
  display: flex;
}
#gform_wrapper_3 form#gform_3 .gfield_required,
#gform_wrapper_2 form#gform_3 .gfield_required {
  display: none;
}
#gform_wrapper_3 form#gform_3 .gform_body.gform-body,
#gform_wrapper_2 form#gform_3 .gform_body.gform-body {
  max-width: 400px;
  width: 100%;
}
#gform_wrapper_3 form#gform_3 input#input_3_1,
#gform_wrapper_2 form#gform_3 input#input_3_1 {
  border-radius: 0;
}
#gform_wrapper_3 form#gform_3 .gform_footer,
#gform_wrapper_2 form#gform_3 .gform_footer {
  margin: 0;
}
#gform_wrapper_3 form#gform_3 .gform_footer button.button.gform_button,
#gform_wrapper_2 form#gform_3 .gform_footer button.button.gform_button {
  background-color: var(--color-border-forms);
  border-color: var(--color-border-forms);
  border-radius: 0;
  border-radius: 0;
  border-style: solid;
  border-width: var(--border-width-input-field);
  color: var(--color-white);
  font-family: var(--font-paragraph);
  height: 50.8px;
  margin: 0;
  opacity: 1;
}
#gform_wrapper_3 .gform_footer,
#gform_wrapper_2 .gform_footer {
  margin-top: 2rem;
}
#gform_wrapper_3 .gform_title,
#gform_wrapper_2 .gform_title {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-semibold);
}
#gform_wrapper_3 select,
#gform_wrapper_2 select {
  appearance: none;
  background-image: url("../../svg/select.svg");
  background-position: right var(--gap-select-icon) center;
  background-repeat: no-repeat;
  background-size: 11px auto;
  border-color: var(--color-border-forms);
  border-radius: var(--border-radius-select);
  border-style: solid;
  border-width: var(--border-width-input-field);
  color: var(--color-form-text);
  font-size: var(--font-size-input-fields);
  line-height: var(--form-line-height);
  max-width: 100%;
  min-width: 0;
  padding-bottom: var(--form-padding-vertical);
  padding-left: var(--form-padding-horizontal);
  padding-right: var(--form-padding-horizontal);
  padding-top: var(--form-padding-vertical);
  text-indent: 1px;
  transition: none;
  width: 100%;
}
#gform_wrapper_3 legend,
#gform_wrapper_3 label,
#gform_wrapper_2 legend,
#gform_wrapper_2 label {
  color: var(--color-form-label-text);
  font-size: var(--font-size-input-fields);
}
#gform_wrapper_3 textarea,
#gform_wrapper_3 input[type=text],
#gform_wrapper_3 input[type=tel],
#gform_wrapper_3 input[type=url],
#gform_wrapper_3 input[type=password],
#gform_wrapper_3 input[type=number],
#gform_wrapper_3 input[type=month],
#gform_wrapper_3 input[type=week],
#gform_wrapper_3 input[type=email],
#gform_wrapper_3 input[type=search],
#gform_wrapper_2 textarea,
#gform_wrapper_2 input[type=text],
#gform_wrapper_2 input[type=tel],
#gform_wrapper_2 input[type=url],
#gform_wrapper_2 input[type=password],
#gform_wrapper_2 input[type=number],
#gform_wrapper_2 input[type=month],
#gform_wrapper_2 input[type=week],
#gform_wrapper_2 input[type=email],
#gform_wrapper_2 input[type=search] {
  font-size: var(--font-size-paragraphs);
  letter-spacing: -0.003em;
  line-height: var(--line-height-paragraphs);
  background-color: var(--color-background-input-field);
  border-color: var(--color-border-forms);
  border-radius: var(--border-radius-input-field);
  border-style: solid;
  border-width: var(--border-width-input-field);
  color: var(--color-form-text);
  font-family: var(--font-paragraph);
  font-size: var(--font-size-input-fields);
  line-height: var(--form-line-height);
  margin-bottom: 0;
  padding-bottom: var(--form-padding-vertical);
  padding-left: var(--form-padding-horizontal);
  padding-right: var(--form-padding-horizontal);
  padding-top: var(--form-padding-vertical);
  position: relative;
  text-decoration: none;
  transition: background 0.55s;
}
#gform_wrapper_3 textarea::placeholder,
#gform_wrapper_3 input[type=text]::placeholder,
#gform_wrapper_3 input[type=tel]::placeholder,
#gform_wrapper_3 input[type=url]::placeholder,
#gform_wrapper_3 input[type=password]::placeholder,
#gform_wrapper_3 input[type=number]::placeholder,
#gform_wrapper_3 input[type=month]::placeholder,
#gform_wrapper_3 input[type=week]::placeholder,
#gform_wrapper_3 input[type=email]::placeholder,
#gform_wrapper_3 input[type=search]::placeholder,
#gform_wrapper_2 textarea::placeholder,
#gform_wrapper_2 input[type=text]::placeholder,
#gform_wrapper_2 input[type=tel]::placeholder,
#gform_wrapper_2 input[type=url]::placeholder,
#gform_wrapper_2 input[type=password]::placeholder,
#gform_wrapper_2 input[type=number]::placeholder,
#gform_wrapper_2 input[type=month]::placeholder,
#gform_wrapper_2 input[type=week]::placeholder,
#gform_wrapper_2 input[type=email]::placeholder,
#gform_wrapper_2 input[type=search]::placeholder {
  color: var(--color-placeholder);
  opacity: var(--opacity-placeholder);
}
#gform_wrapper_3 textarea:focus,
#gform_wrapper_3 input[type=text]:focus,
#gform_wrapper_3 input[type=tel]:focus,
#gform_wrapper_3 input[type=url]:focus,
#gform_wrapper_3 input[type=password]:focus,
#gform_wrapper_3 input[type=number]:focus,
#gform_wrapper_3 input[type=month]:focus,
#gform_wrapper_3 input[type=week]:focus,
#gform_wrapper_3 input[type=email]:focus,
#gform_wrapper_3 input[type=search]:focus,
#gform_wrapper_2 textarea:focus,
#gform_wrapper_2 input[type=text]:focus,
#gform_wrapper_2 input[type=tel]:focus,
#gform_wrapper_2 input[type=url]:focus,
#gform_wrapper_2 input[type=password]:focus,
#gform_wrapper_2 input[type=number]:focus,
#gform_wrapper_2 input[type=month]:focus,
#gform_wrapper_2 input[type=week]:focus,
#gform_wrapper_2 input[type=email]:focus,
#gform_wrapper_2 input[type=search]:focus {
  background-color: var(--color-background-input-field);
  border-color: var(--color-border-forms-focus);
  color: var(--color-form-text);
}
#gform_wrapper_3 textarea:focus::placeholder,
#gform_wrapper_3 input[type=text]:focus::placeholder,
#gform_wrapper_3 input[type=tel]:focus::placeholder,
#gform_wrapper_3 input[type=url]:focus::placeholder,
#gform_wrapper_3 input[type=password]:focus::placeholder,
#gform_wrapper_3 input[type=number]:focus::placeholder,
#gform_wrapper_3 input[type=month]:focus::placeholder,
#gform_wrapper_3 input[type=week]:focus::placeholder,
#gform_wrapper_3 input[type=email]:focus::placeholder,
#gform_wrapper_3 input[type=search]:focus::placeholder,
#gform_wrapper_2 textarea:focus::placeholder,
#gform_wrapper_2 input[type=text]:focus::placeholder,
#gform_wrapper_2 input[type=tel]:focus::placeholder,
#gform_wrapper_2 input[type=url]:focus::placeholder,
#gform_wrapper_2 input[type=password]:focus::placeholder,
#gform_wrapper_2 input[type=number]:focus::placeholder,
#gform_wrapper_2 input[type=month]:focus::placeholder,
#gform_wrapper_2 input[type=week]:focus::placeholder,
#gform_wrapper_2 input[type=email]:focus::placeholder,
#gform_wrapper_2 input[type=search]:focus::placeholder {
  color: var(--color-placeholder-focus);
  opacity: var(--opacity-placeholder-focus);
}
#gform_wrapper_3 div.validation_error,
#gform_wrapper_2 div.validation_error {
  background-color: var(--color-error);
  color: var(--color-white);
  font-size: var(--font-size-17);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--form-gap);
  padding: 2rem;
}
#gform_wrapper_3 div.validation_error:focus,
#gform_wrapper_2 div.validation_error:focus {
  color: var(--color-white);
}
#gform_wrapper_3 body *[aria-invalid=true],
#gform_wrapper_2 body *[aria-invalid=true] {
  border-color: var(--color-error);
}
#gform_wrapper_3 .validation_message,
#gform_wrapper_2 .validation_message {
  color: var(--color-error);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
}
#gform_wrapper_3 .validation_list,
#gform_wrapper_2 .validation_list {
  list-style: none;
  margin-bottom: var(--form-gap);
  margin-left: 0;
  padding: 0;
}
#gform_wrapper_3 .validation_list a,
#gform_wrapper_2 .validation_list a {
  color: var(--color-error);
  text-decoration: none;
}
#gform_wrapper_3 .validation_list li,
#gform_wrapper_2 .validation_list li {
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
}
#gform_wrapper_3 .gform_required_legend,
#gform_wrapper_3 .sr-only,
#gform_wrapper_2 .gform_required_legend,
#gform_wrapper_2 .sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
#gform_wrapper_3 .gfield_required.gfield_required_asterisk,
#gform_wrapper_2 .gfield_required.gfield_required_asterisk {
  color: var(--color-accent);
  font-size: var(--font-size-required-asterisk-label);
  position: absolute;
}
#gform_wrapper_3 .gfield_required.gfield_required_asterisk,
#gform_wrapper_3 .gfield_required.gfield_required_text,
#gform_wrapper_2 .gfield_required.gfield_required_asterisk,
#gform_wrapper_2 .gfield_required.gfield_required_text {
  color: var(--color-accent);
}
#gform_wrapper_3 .gfield_required.gfield_required_text,
#gform_wrapper_2 .gfield_required.gfield_required_text {
  font-size: var(--font-size-required-text-label);
}
#gform_wrapper_3 .gform_wrapper > form,
#gform_wrapper_2 .gform_wrapper > form {
  display: grid;
  grid-gap: var(--form-gap);
}
#gform_wrapper_3 .gform-body ul,
#gform_wrapper_2 .gform-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#gform_wrapper_3 .gform-body textarea,
#gform_wrapper_3 .gform-body input,
#gform_wrapper_2 .gform-body textarea,
#gform_wrapper_2 .gform-body input {
  width: 100%;
}
#gform_wrapper_3 .gform-body .ginput_container.ginput_container_textarea,
#gform_wrapper_2 .gform-body .ginput_container.ginput_container_textarea {
  display: flex;
}
#gform_wrapper_3 .gform-body .gfield_label,
#gform_wrapper_2 .gform-body .gfield_label {
  display: inline-flex;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semibold);
  gap: var(--form-required-gap);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-inline-end: 0;
  padding-inline-start: 0;
}
#gform_wrapper_3 .gform-body .gform_fields,
#gform_wrapper_2 .gform-body .gform_fields {
  display: grid;
  grid-gap: var(--form-gap);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  width: 100%;
}
#gform_wrapper_3 .gform-body .gfield,
#gform_wrapper_2 .gform-body .gfield {
  border: 0;
  grid-column: 1/-1;
  padding: 0;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-full,
#gform_wrapper_2 .gform-body .gfield.gfield--width-full {
  grid-column: span 12;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-eleven-twelfths,
#gform_wrapper_2 .gform-body .gfield.gfield--width-eleven-twelfths {
  grid-column: span 11;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-five-sixths,
#gform_wrapper_2 .gform-body .gfield.gfield--width-five-sixths {
  grid-column: span 10;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-three-quarter,
#gform_wrapper_2 .gform-body .gfield.gfield--width-three-quarter {
  grid-column: span 9;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-two-thirds,
#gform_wrapper_2 .gform-body .gfield.gfield--width-two-thirds {
  grid-column: span 8;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-seven-twelfths,
#gform_wrapper_2 .gform-body .gfield.gfield--width-seven-twelfths {
  grid-column: span 7;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-half,
#gform_wrapper_2 .gform-body .gfield.gfield--width-half {
  grid-column: span 6;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-five-twelfths,
#gform_wrapper_2 .gform-body .gfield.gfield--width-five-twelfths {
  grid-column: span 5;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-third,
#gform_wrapper_2 .gform-body .gfield.gfield--width-third {
  grid-column: span 4;
}
#gform_wrapper_3 .gform-body .gfield.gfield--width-quarter,
#gform_wrapper_2 .gform-body .gfield.gfield--width-quarter {
  grid-column: span 3;
}
@media (max-width: 640px) {
  #gform_wrapper_3 .gform-body .gform_fields,
  #gform_wrapper_2 .gform-body .gform_fields {
    grid-column-gap: 0;
  }
  #gform_wrapper_3 .gform-body .gfield:not(.gfield--width-full),
  #gform_wrapper_2 .gform-body .gfield:not(.gfield--width-full) {
    grid-column: 1/-1;
  }
}
#gform_wrapper_3 .gchoice,
#gform_wrapper_2 .gchoice {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
#gform_wrapper_3 .gchoice label,
#gform_wrapper_2 .gchoice label {
  font-size: var(--font-size-14);
}
#gform_wrapper_3 .gchoice input[type=checkbox],
#gform_wrapper_2 .gchoice input[type=checkbox] {
  width: auto;
}

.gform_validation_container {
  display: none;
}

.gform_confirmation_message {
  background-color: transparent;
  border: 2px solid var(--color-success);
  color: var(--color-success);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-semibold);
  padding: 2rem;
}
