/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
code[class*=language-] {
  background-color: transparent;
  border: 0;
  color: #f8f8f2;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px rgb(var(--color-black-rgb)/0.3);
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

pre[class*=language-] {
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  color: #f8f8f2;
  hyphens: none;
  line-height: 1.5;
  overflow: auto;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px rgb(var(--color-black-rgb)/0.3);
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}
pre[class*=language-] code {
  border-radius: 4px;
}
@media (max-width: 1111px) {
  pre[class*=language-] {
    margin: 0.5em 0;
  }
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background-color: #232830;
}

:not(pre) > code[class*=language-] {
  border-radius: 0;
  white-space: normal;
}

.namespace {
  opacity: 0.7;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #708090;
}
.token.punctuation {
  color: #f8f8f2;
}
.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
  color: #f92672;
}
.token.boolean, .token.number {
  color: #ae81ff;
}
.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: #a6e22e;
}
.token.operator, .token.entity, .token.url {
  color: #f8f8f2;
}
.token.variable {
  color: #f8f8f2;
}
.token.atrule, .token.attr-value, .token.function {
  color: #e6db74;
}
.token.keyword {
  color: #66d9ef;
}
.token.regex {
  color: #fd971f;
}
.token.important {
  color: #fd971f;
  font-weight: var(--font-weight-bold);
}
.token.bold {
  font-weight: var(--font-weight-bold);
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

.language-css .token.string,
.style .token.string {
  color: #f8f8f2;
}
