/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
.article-content .wp-block-columns.has-1-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-1-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-1-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-1-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-content .wp-block-columns.has-2-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-2-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-2-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-2-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-content .wp-block-columns.has-3-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-3-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-3-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-3-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-content .wp-block-columns.has-4-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-4-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-4-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-4-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-content .wp-block-columns.has-5-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-5-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-5-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-5-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-content .wp-block-columns.has-6-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-6-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-6-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-6-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-content .wp-block-columns.has-7-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-7-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-7-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-7-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-content .wp-block-columns.has-8-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-8-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-8-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-8-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-content .wp-block-columns.has-9-columns.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: 100%;
}
@media (max-width: 900px) {
  .article-content .wp-block-columns.has-9-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .article-content .wp-block-columns.has-9-columns .wp-block-column {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .article-content .wp-block-columns.has-9-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}
