/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
.article-content .has-larger-font-size,
.article-content .has-large-font-size {
  line-height: var(--line-height-headings);
}
@media (max-width: 480px) {
  .article-content .has-large-font-size {
    font-size: var(--font-size-18);
  }
}
@media (max-width: 480px) {
  .article-content .has-larger-font-size {
    font-size: var(--font-size-22);
  }
}
@media (max-width: 1000px) {
  .article-content .has-background {
    width: calc(100% - var(--padding-container-horizontal) * 2);
  }
}
