/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
.article-content .wp-block.is-style-no-bullets,
.article-content .is-style-no-bullets,
.article-content .wp-block-column .is-style-no-bullets {
  list-style: none !important;
  padding-left: 0 !important;
}
.article-content .wp-block.is-style-no-bullets .thumbs-svg,
.article-content .is-style-no-bullets .thumbs-svg,
.article-content .wp-block-column .is-style-no-bullets .thumbs-svg {
  margin-right: 6px;
}
.article-content .wp-block.is-style-no-bullets li::before,
.article-content .is-style-no-bullets li::before,
.article-content .wp-block-column .is-style-no-bullets li::before {
  display: none !important;
}
@media (max-width: 830px) {
  .article-content .wp-block.is-style-no-bullets,
  .article-content .is-style-no-bullets,
  .article-content .wp-block-column .is-style-no-bullets {
    padding-left: 2rem !important;
  }
}
