/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
.article-content .wp-block.is-style-boxed,
.article-content .is-style-boxed {
  border: 2px solid var(--color-paragraph);
  color: var(--color-paragraph);
  font-size: 17px;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-paragraphs-blog);
  padding: 2rem;
  width: calc(100% - 4rem);
}
