/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
:is(.article-content, .editor-styles-wrapper) .wp-block.is-style-boxed,
:is(.article-content, .editor-styles-wrapper) .is-style-boxed {
  border: 2px solid var(--color-paragraph, var(--wp--custom--color-paragraph));
  color: var(--color-paragraph, var(--wp--custom--color-paragraph));
  font-size: 17px;
  font-style: normal;
  font-weight: var(--font-weight-medium, var(--wp--custom--font-weight-medium));
  line-height: var(--line-height-paragraphs-blog, var(--wp--custom--line-height-paragraphs-blog));
  padding: 2rem;
  width: calc(100% - 4rem);
}
