/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
:is(.article-content, .editor-styles-wrapper) th {
  backface-visibility: hidden;
  background-color: var(--color-scorpion);
  color: var(--color-white, var(--wp--custom--color-white));
  font-weight: var(--font-weight-bold, var(--wp--custom--font-weight-bold));
  overflow: hidden;
  text-align: left;
}
:is(.article-content, .editor-styles-wrapper) td {
  color: var(--color-black, var(--wp--custom--color-black));
}
:is(.article-content, .editor-styles-wrapper) td,
:is(.article-content, .editor-styles-wrapper) th,
:is(.article-content, .editor-styles-wrapper) .wp-block-table td,
:is(.article-content, .editor-styles-wrapper) .wp-block-table th {
  border: 0;
  font-family: var(--font-paragraph, var(--wp--custom--font-paragraph));
  font-size: var(--font-size-14, var(--wp--custom--font-size-14));
  height: 2rem;
  padding: 0.6rem 1.5rem;
}
:is(.article-content, .editor-styles-wrapper) tr:nth-child(even) {
  background-color: var(--color-background-table-cell-even, var(--wp--custom--color-background-table-cell-even));
}
:is(.article-content, .editor-styles-wrapper) tr:nth-child(odd) {
  background-color: var(--color-background-table-cell-odd, var(--wp--custom--color-background-table-cell-odd));
}
:is(.article-content, .editor-styles-wrapper) thead,
:is(.article-content, .editor-styles-wrapper) .wp-block-table thead {
  border: 0;
}
:is(.article-content, .editor-styles-wrapper) thead th:first-child,
:is(.article-content, .editor-styles-wrapper) .wp-block-table thead th:first-child {
  border-top-left-radius: 8px;
}
:is(.article-content, .editor-styles-wrapper) thead th:last-child,
:is(.article-content, .editor-styles-wrapper) .wp-block-table thead th:last-child {
  border-top-right-radius: 8px;
}
:is(.article-content, .editor-styles-wrapper) table {
  border-collapse: collapse;
  border-spacing: 0;
}
:is(.article-content, .editor-styles-wrapper) .wp-block-table.alignfull {
  margin-left: 0;
  margin-right: 0;
  width: calc(100% - var(--padding-container-horizontal, var(--wp--custom--padding-container-horizontal)) * 2);
}
@media (max-width: 1000px) {
  :is(.article-content, .editor-styles-wrapper) .wp-block-table.alignwide {
    margin-left: 0;
    margin-right: 0;
    width: calc(100% - var(--padding-container-horizontal, var(--wp--custom--padding-container-horizontal)) * 2);
  }
}
