/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
:is(.article-content, .editor-styles-wrapper) .wp-block-embed iframe,
:is(.article-content, .editor-styles-wrapper) .wp-block-embed video {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 1000px) {
  :is(.article-content, .editor-styles-wrapper) .wp-block-embed.alignwide,
  :is(.article-content, .editor-styles-wrapper) .wp-block-embed.alignfull {
    width: calc(100% - var(--padding-container-horizontal, var(--wp--custom--padding-container-horizontal)) * 2);
  }
}
:is(.article-content, .editor-styles-wrapper) .wp-block-embed.alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
