@charset "UTF-8";
/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
:is(.article-content, .editor-styles-wrapper) > ul.bandinfo,
:is(.article-content, .editor-styles-wrapper) > ul:not([class]),
:is(.article-content, .editor-styles-wrapper) > ol:not([class]),
:is(.article-content, .editor-styles-wrapper) .wp-block-categories-list,
:is(.article-content, .editor-styles-wrapper) .wp-block-list,
:is(.article-content, .editor-styles-wrapper) ul.is-style-default,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default,
:is(.article-content, .editor-styles-wrapper) ol:not([class]),
:is(.article-content, .editor-styles-wrapper) ul:not([class]) :is(.article-content, .editor-styles-wrapper) > ul.is-style-default {
  list-style: none;
  padding-left: 0;
  width: calc(100% - var(--padding-container-horizontal, var(--wp--custom--padding-container-horizontal)) * 2);
}
:is(.article-content, .editor-styles-wrapper) > ul.bandinfo li,
:is(.article-content, .editor-styles-wrapper) > ul:not([class]) li,
:is(.article-content, .editor-styles-wrapper) > ol:not([class]) li,
:is(.article-content, .editor-styles-wrapper) .wp-block-categories-list li,
:is(.article-content, .editor-styles-wrapper) .wp-block-list li,
:is(.article-content, .editor-styles-wrapper) ul.is-style-default li,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default li,
:is(.article-content, .editor-styles-wrapper) ol:not([class]) li,
:is(.article-content, .editor-styles-wrapper) ul:not([class]) :is(.article-content, .editor-styles-wrapper) > ul.is-style-default li {
  display: table-row;
  padding: 0;
}
:is(.article-content, .editor-styles-wrapper) > ul.bandinfo li.block-editor-block-list__block,
:is(.article-content, .editor-styles-wrapper) > ul:not([class]) li.block-editor-block-list__block,
:is(.article-content, .editor-styles-wrapper) > ol:not([class]) li.block-editor-block-list__block,
:is(.article-content, .editor-styles-wrapper) .wp-block-categories-list li.block-editor-block-list__block,
:is(.article-content, .editor-styles-wrapper) .wp-block-list li.block-editor-block-list__block,
:is(.article-content, .editor-styles-wrapper) ul.is-style-default li.block-editor-block-list__block,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default li.block-editor-block-list__block,
:is(.article-content, .editor-styles-wrapper) ol:not([class]) li.block-editor-block-list__block,
:is(.article-content, .editor-styles-wrapper) ul:not([class]) :is(.article-content, .editor-styles-wrapper) > ul.is-style-default li.block-editor-block-list__block {
  align-items: baseline;
  display: flex;
  gap: 2px;
}
:is(.article-content, .editor-styles-wrapper) > ul.bandinfo li::before,
:is(.article-content, .editor-styles-wrapper) > ul:not([class]) li::before,
:is(.article-content, .editor-styles-wrapper) > ol:not([class]) li::before,
:is(.article-content, .editor-styles-wrapper) .wp-block-categories-list li::before,
:is(.article-content, .editor-styles-wrapper) .wp-block-list li::before,
:is(.article-content, .editor-styles-wrapper) ul.is-style-default li::before,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default li::before,
:is(.article-content, .editor-styles-wrapper) ol:not([class]) li::before,
:is(.article-content, .editor-styles-wrapper) ul:not([class]) :is(.article-content, .editor-styles-wrapper) > ul.is-style-default li::before {
  display: table-cell;
}
:is(.article-content, .editor-styles-wrapper) > ul.bandinfo li::before,
:is(.article-content, .editor-styles-wrapper) > ul.bandinfo li::marker,
:is(.article-content, .editor-styles-wrapper) > ul:not([class]) li::before,
:is(.article-content, .editor-styles-wrapper) > ul:not([class]) li::marker,
:is(.article-content, .editor-styles-wrapper) > ol:not([class]) li::before,
:is(.article-content, .editor-styles-wrapper) > ol:not([class]) li::marker,
:is(.article-content, .editor-styles-wrapper) .wp-block-categories-list li::before,
:is(.article-content, .editor-styles-wrapper) .wp-block-categories-list li::marker,
:is(.article-content, .editor-styles-wrapper) .wp-block-list li::before,
:is(.article-content, .editor-styles-wrapper) .wp-block-list li::marker,
:is(.article-content, .editor-styles-wrapper) ul.is-style-default li::before,
:is(.article-content, .editor-styles-wrapper) ul.is-style-default li::marker,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default li::before,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default li::marker,
:is(.article-content, .editor-styles-wrapper) ol:not([class]) li::before,
:is(.article-content, .editor-styles-wrapper) ol:not([class]) li::marker,
:is(.article-content, .editor-styles-wrapper) ul:not([class]) :is(.article-content, .editor-styles-wrapper) > ul.is-style-default li::before,
:is(.article-content, .editor-styles-wrapper) ul:not([class]) :is(.article-content, .editor-styles-wrapper) > ul.is-style-default li::marker {
  color: var(--color-link-text, var(--wp--custom--color-link-text));
}
:is(.article-content, .editor-styles-wrapper) > ul:not([class]) li::before,
:is(.article-content, .editor-styles-wrapper) ul.wp-block-list li::before,
:is(.article-content, .editor-styles-wrapper) ul.is-style-default li::before,
:is(.article-content, .editor-styles-wrapper) ul:not([class]) li::before {
  content: "•";
  padding-right: 0.8rem;
}
:is(.article-content, .editor-styles-wrapper) > ol:not([class]),
:is(.article-content, .editor-styles-wrapper) ol.wp-block-list,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default,
:is(.article-content, .editor-styles-wrapper) ol:not([class]) {
  counter-reset: ol;
}
:is(.article-content, .editor-styles-wrapper) > ol:not([class]) li,
:is(.article-content, .editor-styles-wrapper) ol.wp-block-list li,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default li,
:is(.article-content, .editor-styles-wrapper) ol:not([class]) li {
  counter-increment: ol;
}
:is(.article-content, .editor-styles-wrapper) > ol:not([class]) li::before,
:is(.article-content, .editor-styles-wrapper) ol.wp-block-list li::before,
:is(.article-content, .editor-styles-wrapper) ol.is-style-default li::before,
:is(.article-content, .editor-styles-wrapper) ol:not([class]) li::before {
  content: counter(ol) ".";
  padding-right: 0.3rem;
}
