/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
@media (max-width: 1000px) {
  .article-content .wp-block-preformatted {
    margin-left: var(--padding-container-horizontal);
    margin-right: var(--padding-container-horizontal);
    width: calc(100% - var(--padding-container-horizontal) * 4);
  }
}
