/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
/**
 * Typography helpers
 */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
/* stylelint-disable number-max-precision */
:is(.article-content, .editor-styles-wrapper) .wp-block.is-style-no-bullets,
:is(.article-content, .editor-styles-wrapper) .is-style-no-bullets,
:is(.article-content, .editor-styles-wrapper) .wp-block-column .is-style-no-bullets {
  list-style: none !important;
  padding-left: 0 !important;
}
:is(.article-content, .editor-styles-wrapper) .wp-block.is-style-no-bullets .thumbs-svg,
:is(.article-content, .editor-styles-wrapper) .is-style-no-bullets .thumbs-svg,
:is(.article-content, .editor-styles-wrapper) .wp-block-column .is-style-no-bullets .thumbs-svg {
  margin-right: 6px;
}
:is(.article-content, .editor-styles-wrapper) .wp-block.is-style-no-bullets li::before,
:is(.article-content, .editor-styles-wrapper) .is-style-no-bullets li::before,
:is(.article-content, .editor-styles-wrapper) .wp-block-column .is-style-no-bullets li::before {
  display: none !important;
}
@media (max-width: 830px) {
  :is(.article-content, .editor-styles-wrapper) .wp-block.is-style-no-bullets,
  :is(.article-content, .editor-styles-wrapper) .is-style-no-bullets,
  :is(.article-content, .editor-styles-wrapper) .wp-block-column .is-style-no-bullets {
    padding-left: 2rem !important;
  }
}
